---
import Logo from "./Logo.astro";
import CartIcon from "./CartIcon.svelte";
import AuthButton from "./AuthButton.svelte";
---

<header class="sticky top-0 z-40">
  <div class="border-b bg-white/70 py-3 backdrop-blur-2xl">
    <nav class="container grid grid-cols-3 items-center">
      <span class="sr-only">Logo</span>
      <Logo />
      <h1
        class="flex justify-center text-sm font-semibold text-gray-900 sm:text-xl"
      >
        <a href="/">Food at Poly</a>
      </h1>
      <div class="flex items-center justify-end gap-3">
        <CartIcon client:load />
        <AuthButton client:load />
      </div>
    </nav>
  </div>
</header>
